.container {
    flex: 1;
    flex-direction: column;
    align-content: center;
    padding: 5%;
    padding-top: 50%;
}

.package {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.sensorField {
    font-size: 30;
}

.buttonContainer {
    flex-direction: column;
    justify-content: space-around;
}

.spacing{
    padding: 10px;
}